.watch{
    width:100VW;
    height: 100vh;
    position: relative;
    .back{
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        left:10px;
        color:white;
        cursor: pointer;
        z-index: 3;
    }
        .video{
            position:absolute;
            top: 0;
            left:0;
        }



    
}